<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationConfiguration1" type="Xydc.Platform.SystemFramework.ApplicationConfiguration, Xydc.Platform.SystemFramework" />
    <section name="jsoaConfiguration1" type="Xydc.Platform.Common.jsoaConfiguration, Xydc.Platform.Common" />
  </configSections>
  <system.web>

    <!--  动态调试编译
          设置 compilation debug="true" 以将调试符号(.pdb 信息)
          插入到编译页中。因为这将创建执行起来
          较慢的大文件，所以应该只在调试时将该值设置为 true，而所有其他时候都设置为
          false。有关更多信息，请参考有关
          调试 ASP.NET 文件的文档。
		-->
    <compilation defaultLanguage="vb" debug="true">
      <assemblies>
        <add assembly="Microsoft.Web.UI.WebControls,Version=1.0.2.226,Culture=neutral,PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Josco.Web.PopMessage,Version=1.0.1600.0,Culture=neutral,PublicKeyToken=95af75da7b69e030" />
        <add assembly="ComponentArt.Web.UI,Version=2.1.2180.0,Culture=neutral,PublicKeyToken=7f1155316a506a74" />
        <add assembly="GemBox.ExcelLite,Version=23.1.5000.1000,Culture=neutral,PublicKeyToken=358b0bb27b60b246" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--  自定义错误信息
          设置 customErrors mode="On" 或 "RemoteOnly" 以启用自定义错误信息，或设置为 "Off" 以禁用自定义错误信息。 
          为每个要处理的错误添加 <error> 标记。

          "On" 始终显示自定义(友好的)信息。
          "Off" 始终显示详细的 ASP.NET 错误信息。
          "RemoteOnly" 只对不在本地 Web 服务器上运行的
           用户显示自定义(友好的)信息。出于安全目的，建议使用此设置，以便 
           不向远程客户端显示应用程序的详细信息。
		-->
    <customErrors mode="Off" />
    <!--  身份验证 
          此节设置应用程序的身份验证策略。可能的模式是 "Windows"、 
          "Forms"、 "Passport" 和 "None"

          "None" 不执行身份验证。 
          "Windows" IIS 根据应用程序的设置执行身份验证 
            (基本、简要或集成 Windows)。在 IIS 中必须禁用匿名访问。
          "Forms" 您为用户提供一个输入凭据的自定义窗体(Web 页)，然后 
           在您的应用程序中验证他们的身份。用户凭据标记存储在 Cookie 中。
          "Passport" 身份验证是通过 Microsoft 的集中身份验证服务执行的，
           它为成员站点提供单独登录和核心配置文件服务。
		-->
    <authentication mode="Forms">
      <forms name=".jsoaAuthentication" loginUrl="./secure/login.aspx" protection="All" timeout="240"></forms>
    </authentication>
    <!--  授权 
          此节设置应用程序的授权策略。可以允许或拒绝不同的用户或角色访问
          应用程序资源。通配符: "*" 表示任何人，"?" 表示匿名
          (未经身份验证的)用户。
		-->
    <authorization>
      <allow users="*" />
      <!-- 允许所有用户 -->
      <!--  <allow     users="[逗号分隔的用户列表]"
                             roles="[逗号分隔的角色列表]"/>
                  <deny      users="[逗号分隔的用户列表]"
                             roles="[逗号分隔的角色列表]"/>
            -->
    </authorization>
    <!--  文件上传大小限制，单位为KB
		-->
    <httpRuntime maxRequestLength="40960" />
    <!--  应用程序级别跟踪记录
          应用程序级别跟踪为应用程序中的每一页启用跟踪日志输出。
          设置 trace enabled="true" 可以启用应用程序跟踪记录。如果 pageOutput="true"，则
          在每一页的底部显示跟踪信息。否则，可以通过浏览 Web 应用程序
          根目录中的 "trace.axd" 页来查看
          应用程序跟踪日志。
		-->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  会话状态设置
          默认情况下，ASP.NET 使用 Cookie 来标识哪些请求属于特定的会话。
          如果 Cookie 不可用，则可以通过将会话标识符添加到 URL 来跟踪会话。
          若要禁用 Cookie，请设置 sessionState cookieless="true"。
          timeout以分钟为单位
		-->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:1433" sqlConnectionString="data source=localhost;Integrated Security=SSPI;"
			cookieless="false" timeout="640" />
    <!--  全球化
          此节设置应用程序的全球化设置。
		-->
    <pages buffer="true" enableEventValidation="false"/>

    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>

    <xhtmlConformance mode="Legacy"/>
    
  </system.web>
  <appSettings>
    <!--   此处显示用户应用程序和配置的属性设置。-->
    <add key="ApplicationName" value="销售中心信息平台 " />
    <add key="DeveloperName" value="广州城建开发兴业房地产中介有限公司" />
    <add key="LicencingTo" value="广州城建开发兴业房地产中介有限公司" />
    <add key="ApplicationVersion" value="1.0" />
    <add key="CopyRights" value="2012-2026" />
    <!--<add key="DatabaseServerName" value="128.168.1.21\SQL05" />-->
    <add key="DatabaseServerName" value="128.168.1.21\SQL05" />
    <add key="DatabaseServerType" value="SQL Server" />
    <add key="DatabaseServerMasterDB" value="Master" />
    <add key="DatabaseServerUserDB" value="xszxDB" />
    <!--<add key="DatabaseServerUserDB" value="testDB" />-->
    <add key="FTPPassiveMode" value="true" />
    <!--从FTP下载文件等待时间(毫秒)-->
    <add key="FTPGetFileWaitTime" value="500" />
    <!--从FTP上载文件等待时间(毫秒)-->
    <add key="FTPPutFileWaitTime" value="500" />
   
    <!--文档编辑器自动保存开关-->
    <add key="DocumentEditorSwitch" value="false" />
    <!--文档编辑器自动保存时间间隔(分钟)-->
    <add key="DocumentEditorWatchInterval" value="30" />
    

    <!--通用返回网址-->
    <add key="GeneralReturnUrl" value="/webapp/xszx/web/areaContent.aspx" />
    <!--上传文件大小限制(KB)-->
    <add key="MaxRequestLength" value="40960" />
      <!--密码最短长度-->
    <add key="MinPasswordLength" value="10" />
    <!--检查密码长度和强度-->
    <add key="CheckPassword" value="false" />
    <!--密码级别(A=1、B=2、C=3、D=4)-->
    <add key="PasswordLevel" value="2" />
    <!--鉴别次数-->
    <add key="LoginTryCount" value="5" />
    <!--账户锁定时间(分钟)-->
    <add key="DeadAccountLock" value="15" />
    <!--账户锁定数据文件(相对于应用根目录)-->
    <add key="AccountLockDataFile" value="/userlock/lockuser.xml" />

    <!--   深度数据 的权限控制参数-->
    <add key="deepdata_monthcompute_previlege_param00" value="应用系统-深度数据" />
    <add key="deepdata_monthcompute_previlege_param01" value="应用系统-深度数据-查询信息" />
    
    <!--   深度数据客户 的权限控制参数-->
    <add key="customer_deep_previlege_param00" value="应用系统-深度客户数据" />
    <add key="customer_deep_previlege_param01" value="应用系统-深度客户数据-查询信息" />
    
    <!--  二手数据客户 的权限控制参数-->
    <add key="customer_medium_previlege_param00" value="应用系统-二手数据客户" />
    <add key="customer_medium_previlege_param01" value="应用系统-二手数据客户-查询信息" />

    <!--   ggdm_gwsz.aspx 的权限控制参数-->
    <add key="ggdm_gwsz_previlege_param00" value="应用系统-代码管理-岗位设置" />
    <add key="ggdm_gwsz_previlege_param01" value="应用系统-代码管理-岗位设置-增加代码" />
    <add key="ggdm_gwsz_previlege_param02" value="应用系统-代码管理-岗位设置-更改代码" />
    <add key="ggdm_gwsz_previlege_param03" value="应用系统-代码管理-岗位设置-删除代码" />
    <add key="ggdm_gwsz_previlege_param04" value="应用系统-代码管理-岗位设置-刷新数据" />
    <!--   ggdm_xzjb.aspx 的权限控制参数-->
    <add key="ggdm_xzjb_previlege_param00" value="应用系统-代码管理-行政级别" />
    <add key="ggdm_xzjb_previlege_param01" value="应用系统-代码管理-行政级别-增加代码" />
    <add key="ggdm_xzjb_previlege_param02" value="应用系统-代码管理-行政级别-更改代码" />
    <add key="ggdm_xzjb_previlege_param03" value="应用系统-代码管理-行政级别-删除代码" />
    <add key="ggdm_xzjb_previlege_param04" value="应用系统-代码管理-行政级别-刷新数据" />
    <!--   gwgl_fwgl_whffqk.aspx 的权限控制参数-->
    <add key="gwgl_fwgl_whffqk_previlege_param00" value="应用系统-公文管理-文号发放情况" />
    <add key="gwgl_fwgl_whffqk_previlege_param01" value="应用系统-公文管理-文号发放情况-打印" />
    <!--   gwgl_fwgl_yzsyqk.aspx 的权限控制参数-->
    <add key="gwgl_fwgl_yzsyqk_previlege_param00" value="应用系统-公文管理-印章使用情况" />
    <add key="gwgl_fwgl_yzsyqk_previlege_param01" value="应用系统-公文管理-印章使用情况-打印" />
    <!--   dcgl_xmtj.aspx 的权限控制参数-->
    <add key="dcgl_xmtj_previlege_param00" value="应用系统-督查管理-查看督查情况" />
    <add key="dcgl_xmtj_previlege_param01" value="应用系统-督查管理-查看督查情况-查看全部督查项目" />
    <!--   gwdm_jgdz.aspx 的权限控制参数-->
    <add key="gwdm_jgdz_previlege_param00" value="应用系统-代码管理-机关代字" />
    <add key="gwdm_jgdz_previlege_param01" value="应用系统-代码管理-机关代字-增加代码" />
    <add key="gwdm_jgdz_previlege_param02" value="应用系统-代码管理-机关代字-更改代码" />
    <add key="gwdm_jgdz_previlege_param03" value="应用系统-代码管理-机关代字-删除代码" />
    <add key="gwdm_jgdz_previlege_param04" value="应用系统-代码管理-机关代字-刷新数据" />
    <!--   gwdm_jjcd.aspx 的权限控制参数-->
    <add key="gwdm_jjcd_previlege_param00" value="应用系统-代码管理-紧急程度" />
    <add key="gwdm_jjcd_previlege_param01" value="应用系统-代码管理-紧急程度-增加代码" />
    <add key="gwdm_jjcd_previlege_param02" value="应用系统-代码管理-紧急程度-更改代码" />
    <add key="gwdm_jjcd_previlege_param03" value="应用系统-代码管理-紧急程度-删除代码" />
    <add key="gwdm_jjcd_previlege_param04" value="应用系统-代码管理-紧急程度-刷新数据" />
    <!--   gwdm_mmdj.aspx 的权限控制参数-->
    <add key="gwdm_mmdj_previlege_param00" value="应用系统-代码管理-秘密等级" />
    <add key="gwdm_mmdj_previlege_param01" value="应用系统-代码管理-秘密等级-增加代码" />
    <add key="gwdm_mmdj_previlege_param02" value="应用系统-代码管理-秘密等级-更改代码" />
    <add key="gwdm_mmdj_previlege_param03" value="应用系统-代码管理-秘密等级-删除代码" />
    <add key="gwdm_mmdj_previlege_param04" value="应用系统-代码管理-秘密等级-刷新数据" />
    <!--   gwdm_wjfl.aspx 的权限控制参数-->
    <add key="gwdm_wjfl_previlege_param00" value="应用系统-代码管理-文件分类" />
    <add key="gwdm_wjfl_previlege_param01" value="应用系统-代码管理-文件分类-增加代码" />
    <add key="gwdm_wjfl_previlege_param02" value="应用系统-代码管理-文件分类-更改代码" />
    <add key="gwdm_wjfl_previlege_param03" value="应用系统-代码管理-文件分类-删除代码" />
    <add key="gwdm_wjfl_previlege_param04" value="应用系统-代码管理-文件分类-刷新数据" />
    <!--   gwdm_wjjz.aspx 的权限控制参数-->
    <add key="gwdm_wjjz_previlege_param00" value="应用系统-代码管理-文件介质" />
    <add key="gwdm_wjjz_previlege_param01" value="应用系统-代码管理-文件介质-增加代码" />
    <add key="gwdm_wjjz_previlege_param02" value="应用系统-代码管理-文件介质-更改代码" />
    <add key="gwdm_wjjz_previlege_param03" value="应用系统-代码管理-文件介质-删除代码" />
    <add key="gwdm_wjjz_previlege_param04" value="应用系统-代码管理-文件介质-刷新数据" />
    <!--   gwdm_wjzl.aspx 的权限控制参数-->
    <add key="gwdm_wjzl_previlege_param00" value="应用系统-代码管理-文件种类" />
    <add key="gwdm_wjzl_previlege_param01" value="应用系统-代码管理-文件种类-增加代码" />
    <add key="gwdm_wjzl_previlege_param02" value="应用系统-代码管理-文件种类-更改代码" />
    <add key="gwdm_wjzl_previlege_param03" value="应用系统-代码管理-文件种类-删除代码" />
    <add key="gwdm_wjzl_previlege_param04" value="应用系统-代码管理-文件种类-刷新数据" />
    <!--   gwdm_yzml.aspx 的权限控制参数-->
    <add key="gwdm_yzml_previlege_param00" value="应用系统-代码管理-印章目录" />
    <add key="gwdm_yzml_previlege_param01" value="应用系统-代码管理-印章目录-增加代码" />
    <add key="gwdm_yzml_previlege_param02" value="应用系统-代码管理-印章目录-更改代码" />
    <add key="gwdm_yzml_previlege_param03" value="应用系统-代码管理-印章目录-删除代码" />
    <add key="gwdm_yzml_previlege_param04" value="应用系统-代码管理-印章目录-刷新数据" />
    <!--   gwdm_ztc.aspx 的权限控制参数-->
    <add key="gwdm_ztc_previlege_param00" value="应用系统-代码管理-主题词" />
    <add key="gwdm_ztc_previlege_param01" value="应用系统-代码管理-主题词-增加代码" />
    <add key="gwdm_ztc_previlege_param02" value="应用系统-代码管理-主题词-更改代码" />
    <add key="gwdm_ztc_previlege_param03" value="应用系统-代码管理-主题词-删除代码" />
    <add key="gwdm_ztc_previlege_param04" value="应用系统-代码管理-主题词-刷新数据" />
    <!--xtpz_xtcs.aspx 的权限控制参数-->
    <add key="xtpz_xtcs_previlege_param00" value="应用系统-系统配置-运行参数" />
    <add key="xtpz_xtcs_previlege_param01" value="应用系统-系统配置-运行参数-更改参数" />
    <!--ggdm_bmry.aspx 的权限控制参数-->
    <add key="ggdm_bmry_previlege_param00" value="应用系统-系统配置-单位人员" />
    <add key="ggdm_bmry_previlege_param01" value="应用系统-系统配置-单位人员-查看单位" />
    <add key="ggdm_bmry_previlege_param02" value="应用系统-系统配置-单位人员-增加同级" />
    <add key="ggdm_bmry_previlege_param03" value="应用系统-系统配置-单位人员-增加下级" />
    <add key="ggdm_bmry_previlege_param04" value="应用系统-系统配置-单位人员-更改单位" />
    <add key="ggdm_bmry_previlege_param05" value="应用系统-系统配置-单位人员-删除单位" />
    <add key="ggdm_bmry_previlege_param06" value="应用系统-系统配置-单位人员-查看人员" />
    <add key="ggdm_bmry_previlege_param07" value="应用系统-系统配置-单位人员-增加人员" />
    <add key="ggdm_bmry_previlege_param08" value="应用系统-系统配置-单位人员-更改人员" />
    <add key="ggdm_bmry_previlege_param09" value="应用系统-系统配置-单位人员-删除人员" />
    <add key="ggdm_bmry_previlege_param10" value="应用系统-系统配置-单位人员-人员上移" />
    <add key="ggdm_bmry_previlege_param11" value="应用系统-系统配置-单位人员-人员下移" />
    <!--gwdm_cyfw.aspx 的权限控制参数-->
    <add key="gwdm_cyfw_previlege_param00" value="应用系统-系统配置-常用范围" />
    <add key="gwdm_cyfw_previlege_param01" value="应用系统-系统配置-常用范围-定义范围" />
    <add key="gwdm_cyfw_previlege_param02" value="应用系统-系统配置-常用范围-范围改名" />
    <add key="gwdm_cyfw_previlege_param03" value="应用系统-系统配置-常用范围-删除范围" />
    <add key="gwdm_cyfw_previlege_param04" value="应用系统-系统配置-常用范围-加入人员" />
    <add key="gwdm_cyfw_previlege_param05" value="应用系统-系统配置-常用范围-加入单位" />
    <add key="gwdm_cyfw_previlege_param06" value="应用系统-系统配置-常用范围-移出成员" />
    <add key="gwdm_cyfw_previlege_param07" value="应用系统-系统配置-常用范围-更改成员" />
    <add key="gwdm_cyfw_previlege_param08" value="应用系统-系统配置-常用范围-成员上移" />
    <add key="gwdm_cyfw_previlege_param09" value="应用系统-系统配置-常用范围-成员下移" />
    <!--xtpz_dbsz.aspx 的权限控制参数-->
    <add key="xtpz_dbsz_previlege_param00" value="应用系统-系统配置-督办控制" />
    <add key="xtpz_dbsz_previlege_param01" value="应用系统-系统配置-督办控制-新增设定" />
    <add key="xtpz_dbsz_previlege_param02" value="应用系统-系统配置-督办控制-更改设定" />
    <add key="xtpz_dbsz_previlege_param03" value="应用系统-系统配置-督办控制-删除设定" />
    <add key="xtpz_dbsz_previlege_param04" value="应用系统-系统配置-督办控制-全文检索" />
    <!--xtpz_bdkz.aspx 的权限控制参数-->
    <add key="xtpz_bdkz_previlege_param00" value="应用系统-系统配置-补登控制" />
    <add key="xtpz_bdkz_previlege_param01" value="应用系统-系统配置-补登控制-新增设定" />
    <add key="xtpz_bdkz_previlege_param02" value="应用系统-系统配置-补登控制-更改设定" />
    <add key="xtpz_bdkz_previlege_param03" value="应用系统-系统配置-补登控制-删除设定" />
    <add key="xtpz_bdkz_previlege_param04" value="应用系统-系统配置-补登控制-全文检索" />
    <!--xtgl_sjdx.aspx 的权限控制参数-->
    <add key="xtgl_sjdx_previlege_param00" value="应用系统-权限管理-数据对象" />
    <add key="xtgl_sjdx_previlege_param01" value="应用系统-权限管理-数据对象-自动注册" />
    <add key="xtgl_sjdx_previlege_param02" value="应用系统-权限管理-数据对象-手动注册" />
    <add key="xtgl_sjdx_previlege_param03" value="应用系统-权限管理-数据对象-更改注册" />
    <add key="xtgl_sjdx_previlege_param04" value="应用系统-权限管理-数据对象-删除注册" />
    <add key="xtgl_sjdx_previlege_param05" value="应用系统-权限管理-数据对象-查看注册" />
    <add key="xtgl_sjdx_previlege_param06" value="应用系统-权限管理-数据对象-改数据库" />
    <add key="xtgl_sjdx_previlege_param07" value="应用系统-权限管理-数据对象-看数据库" />
    <add key="xtgl_sjdx_previlege_param08" value="应用系统-权限管理-数据对象-更改对象" />
    <add key="xtgl_sjdx_previlege_param09" value="应用系统-权限管理-数据对象-查看对象" />
    <add key="xtgl_sjdx_previlege_param10" value="应用系统-权限管理-数据对象-清理数据" />
    <!--xtgl_yhgl_yh.aspx 的权限控制参数-->
    <!--xtgl_yhgl_js.aspx 的权限控制参数-->
    <add key="xtgl_yhgl_previlege_param00" value="应用系统-权限管理-用户管理" />
    <add key="xtgl_yhgl_previlege_param01" value="应用系统-权限管理-用户管理-用户管理" />
    <add key="xtgl_yhgl_previlege_param02" value="应用系统-权限管理-用户管理-用户管理-申请标识" />
    <add key="xtgl_yhgl_previlege_param03" value="应用系统-权限管理-用户管理-用户管理-删除标识" />
    <add key="xtgl_yhgl_previlege_param04" value="应用系统-权限管理-用户管理-用户管理-更改密码" />
    <add key="xtgl_yhgl_previlege_param05" value="应用系统-权限管理-用户管理-角色管理" />
    <add key="xtgl_yhgl_previlege_param06" value="应用系统-权限管理-用户管理-角色管理-定义角色" />
    <add key="xtgl_yhgl_previlege_param07" value="应用系统-权限管理-用户管理-角色管理-删除角色" />
    <add key="xtgl_yhgl_previlege_param08" value="应用系统-权限管理-用户管理-角色管理-加入用户" />
    <add key="xtgl_yhgl_previlege_param09" value="应用系统-权限管理-用户管理-角色管理-移出用户" />
    <!--xtgl_sjqx_cq.aspx 的权限控制参数-->
    <!--xtgl_sjqx_js.aspx 的权限控制参数-->
    <!--xtgl_sjqx_yh.aspx 的权限控制参数-->
    <add key="xtgl_sjqx_previlege_param00" value="应用系统-权限管理-数据权限" />
    <add key="xtgl_sjqx_previlege_param01" value="应用系统-权限管理-数据权限-存取授权" />
    <add key="xtgl_sjqx_previlege_param02" value="应用系统-权限管理-数据权限-存取授权-赋予权限" />
    <add key="xtgl_sjqx_previlege_param03" value="应用系统-权限管理-数据权限-存取授权-回收权限" />
    <add key="xtgl_sjqx_previlege_param04" value="应用系统-权限管理-数据权限-角色授权" />
    <add key="xtgl_sjqx_previlege_param05" value="应用系统-权限管理-数据权限-角色授权-赋予权限" />
    <add key="xtgl_sjqx_previlege_param06" value="应用系统-权限管理-数据权限-角色授权-回收权限" />
    <add key="xtgl_sjqx_previlege_param07" value="应用系统-权限管理-数据权限-用户授权" />
    <add key="xtgl_sjqx_previlege_param08" value="应用系统-权限管理-数据权限-用户授权-赋予权限" />
    <add key="xtgl_sjqx_previlege_param09" value="应用系统-权限管理-数据权限-用户授权-回收权限" />
    <!--xtgl_mkgl.aspx 的权限控制参数-->
    <add key="xtgl_mkgl_previlege_param00" value="应用系统-权限管理-模块管理" />
    <add key="xtgl_mkgl_previlege_param01" value="应用系统-权限管理-模块管理-查看模块" />
    <add key="xtgl_mkgl_previlege_param02" value="应用系统-权限管理-模块管理-增加同级" />
    <add key="xtgl_mkgl_previlege_param03" value="应用系统-权限管理-模块管理-增加下级" />
    <add key="xtgl_mkgl_previlege_param04" value="应用系统-权限管理-模块管理-更改模块" />
    <add key="xtgl_mkgl_previlege_param05" value="应用系统-权限管理-模块管理-删除模块" />
    <add key="xtgl_mkgl_previlege_param06" value="应用系统-权限管理-模块管理-刷新数据" />
    <!--xtgl_mkqx_js.aspx 的权限控制参数-->
    <!--xtgl_mkqx_yh.aspx 的权限控制参数-->
    <add key="xtgl_mkqx_previlege_param00" value="应用系统-权限管理-模块权限" />
    <add key="xtgl_mkqx_previlege_param01" value="应用系统-权限管理-模块权限-用户授权" />
    <add key="xtgl_mkqx_previlege_param02" value="应用系统-权限管理-模块权限-用户授权-授权执行" />
    <add key="xtgl_mkqx_previlege_param03" value="应用系统-权限管理-模块权限-用户授权-回收权限" />
    <add key="xtgl_mkqx_previlege_param04" value="应用系统-权限管理-模块权限-角色授权" />
    <add key="xtgl_mkqx_previlege_param05" value="应用系统-权限管理-模块权限-角色授权-授权执行" />
    <add key="xtgl_mkqx_previlege_param06" value="应用系统-权限管理-模块权限-角色授权-回收权限" />
    <!--xtgl_wjzh.aspx 的权限控制参数-->
    <add key="xtgl_wjzh_previlege_param00" value="应用系统-权限管理-文件转换" />
    <add key="xtgl_wjzh_previlege_param01" value="应用系统-权限管理-文件转换-正转换" />
    <add key="xtgl_wjzh_previlege_param02" value="应用系统-权限管理-文件转换-反转换" />
    <!--   xtgl_rzgl_zxyh.aspx 的权限控制参数-->
    <add key="xtgl_rzgl_zxyh_previlege_param00" value="应用系统-日志管理-在线用户" />
    <add key="xtgl_rzgl_zxyh_previlege_param01" value="应用系统-日志管理-在线用户-打印" />
    <!--   xtgl_rzgl_jcrz.aspx 的权限控制参数-->
    <add key="xtgl_rzgl_jcrz_previlege_param00" value="应用系统-日志管理-进出日志" />
    <add key="xtgl_rzgl_jcrz_previlege_param01" value="应用系统-日志管理-进出日志-全部清除" />
    <add key="xtgl_rzgl_jcrz_previlege_param02" value="应用系统-日志管理-进出日志-选定清除" />
    <add key="xtgl_rzgl_jcrz_previlege_param03" value="应用系统-日志管理-进出日志-清除时段" />
    <add key="xtgl_rzgl_jcrz_previlege_param04" value="应用系统-日志管理-进出日志-打印" />
    <!--   xtgl_rz_cz.aspx 的权限控制参数-->
    <add key="xtgl_rz_cz_previlege_param00" value="应用系统-日志管理-用户操作日志" />
    <add key="xtgl_rz_cz_previlege_param01" value="应用系统-日志管理-用户操作日志-打印" />
    <!--   xtgl_rz_aq.aspx 的权限控制参数-->
    <add key="xtgl_rz_aq_previlege_param00" value="应用系统-日志管理-安全审计日志" />
    <add key="xtgl_rz_aq_previlege_param01" value="应用系统-日志管理-安全审计日志-打印" />
    <!--   xtgl_rz_pz.aspx 的权限控制参数-->
    <add key="xtgl_rz_pz_previlege_param00" value="应用系统-日志管理-配置审计日志" />
    <add key="xtgl_rz_pz_previlege_param01" value="应用系统-日志管理-配置审计日志-打印" />
    <!--   xtgl_rz_sj.aspx 的权限控制参数-->
    <add key="xtgl_rz_sj_previlege_param00" value="应用系统-日志管理-审计操作日志" />
    <add key="xtgl_rz_sj_previlege_param01" value="应用系统-日志管理-审计操作日志-打印" />
    <!--   xtgl_rz_fw.aspx 的权限控制参数-->
    <add key="xtgl_rz_fw_previlege_param00" value="应用系统-日志管理-系统访问日志" />
    <add key="xtgl_rz_fw_previlege_param01" value="应用系统-日志管理-系统访问日志-打印" />
    <!--   qzbj_workflow_xxxx.aspx 的权限控制参数-->
    <add key="qzbj_workflow_previlege_param00" value="应用系统-特殊处理" />
    <add key="qzbj_workflow_previlege_param01" value="应用系统-特殊处理-工作流文件处理" />
   
  </appSettings>

  <ApplicationConfiguration1>
    <add key="SystemFramework.Tracing.Enabled" value="True" />
    <!-- 用户访问日志 -->
    <add key="SystemFramework.Tracing.TraceFile" value="E:\多层应用\xszx\web\log\jsoa.xml" />
    <!-- 配置管理员审计日志 -->
    <add key="SystemFramework.Tracing.AuditPZFile" value="E:\多层应用\xszx\web\audit\auditPZ.xml" />
    <!-- 安全管理员审计日志 -->
    <add key="SystemFramework.Tracing.AuditAQFile" value="E:\多层应用\xszx\web\audit\auditAQ.xml" />
    <!-- 审计管理员审计日志 -->
    <add key="SystemFramework.Tracing.AuditSJFile" value="E:\多层应用\xszx\web\audit\auditSJ.xml" />
    <!-- 日志跟踪级别  -->
    <add key="SystemFramework.Tracing.TraceLevel" value="4" />
    <!-- This switch name. The trace level for this name can be set through
             environment variables or the registry  -->
    <add key="SystemFramework.Tracing.SwitchName" value="jsoa" />
    <!-- This description of the Tracing.SwitchName switch -->
    <add key="SystemFramework.Tracing.SwitchDescription" value="JSOA Application Log" />
    <!-- Event log settings
		Note: The default jsoa event source name is created in the local machine during setup. If you wish to log events to a different event source
              that event source must exist.
        -->
    <add key="SystemFramework.EventLog.Enabled" value="False" />
    <add key="SystemFramework.EventLog.Machine" value="." />
    <add key="SystemFramework.EventLog.SourceName" value="jsoa" />
    <!-- Use the standard TraceLevel values:
             0 = Off
             1 = Error
             2 = Warning
             3 = Info
             4 = Verbose -->
    <add key="SystemFramework.EventLog.LogLevel" value="1" />
  </ApplicationConfiguration1>

  <jsoaConfiguration1>
    <!-- Settings specific to the JSOA application 超时参数以秒为单位 -->
    <add key="Xydc.Web.DataAccess.ConnectionString" value="" />
    <add key="Xydc.Web.DataAccess.ConnectionTestTimeOut" value="60" />
    <add key="Xydc.Web.DataAccess.ConnectionTimeOut" value="14400" />
    <add key="Xydc.Web.DataAccess.CommandTimeOut" value="14400" />
    <add key="Xydc.Web.EnablePageCache" value="True" />
    <add key="Xydc.Web.PageCacheExpiresInSeconds" value="14400" />
    <add key="Xydc.Web.EnableSsl" value="False" />
  </jsoaConfiguration1>
</configuration>
